.top-header {
  background-color: #EEEEEE;
  padding: 100px 0px;
  border-bottom: 1px solid gray;

  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.header-top {
   position: relative;
}

.top-header .header-top{
  width: 100%;
  height: 40%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.top-column span{
  position: static;
  font-size: 30px;
  color: red;
}

.top-column i{
  border-radius: 5px;
  padding-right: 15px;
}

.top-column ul{
 display: flex;
}

.top-column ul li{
  border-left: 1px solid #6b6767;
  margin-left: 10px;
  font-weight: 600;
}

.menu-title{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E1E1E1;
  padding: 30px 0;
  border-top: 1px solid #6b6767;
  border-bottom: 1px solid #6b6767;
}

.menu-search{
  position: relative;
}

.menu-title input{
  text-align: center;
  width: 100%;
  padding: 10px 200px;
  box-sizing: border-box;
  position: static;
}

.menu-search i{
  position: absolute;
  top: 11px;
  right: 10px;
  animation: 1s searching infinite ease-in-out;
}

@keyframes searching {
  0%{
    transform: rotateX(0);
  }
  50%{
    transform: rotateX(180deg) scale(0.3);
  }
  100%{
    transform: rotateX(360deg);
  }
}

ol{
  border-right: 1px solid black;
  text-align: center;
  background-color: yellow;
}

ol li:hover{
  background-color: green;
  transform: rotateY(1turn);
}

ol li{
  font-size: 25px;
  padding: 20px 0;
  background-color: pink;
  transition: transform 1s ease-in-out;
  margin: 0;
}

p{
  background-color: gray;
}

.text-message {
  display: grid;
  grid-template-columns: 150px 1fr;
}
